div{
	width: 200px;
	height: 200px;
	margin: 200px auto;
	animation: sport 4s linear infinite;
	background-color: red;
	}
@keyframes sport{
	from{
		transform: rotateZ(0deg);
	}
	to{
		transform: rotateZ(360deg);
	}
}