<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>010-v-for-列表渲染.html</title>
</head>
<body>
	<div id="app">
        <table>
            <tr>
                <th>姓名</th>
                <th>年龄</th>
                <th>成绩</th>
                <th>是否及格</th>
            </tr>
            <tr v-for="person in persons" :key='person.name'>
                <td>{{person.name}}</td>
                <td>{{person.age}}</td>
                <td>{{person.score}}</td>
                <td v-if="person.score>=60">是</td>
                <td v-else>否</td>
            </tr>
        </table>
	</div>
		
</body>
<script src="js/vue.js"></script>
<script>
	//vm就是Vue的一个实例
	//vm是（ViewModel）的缩写
    var vm = new Vue({
        el:'#app',
        data:{
            persons:[
            {name:"张三",age:21,score:100,levl:3},
            {name:"李阿斯顿",age:21,score:10,levl:2},
            {name:"s奥奥",age:21,score:100,levl:3},
            {name:"d阿萨",age:21,score:10,levl:1},
            {name:"a十大",age:21,score:100,levl:0},
            {name:"啊是擦",age:21,score:10,levl:2},
            {name:"撒擦",age:21,score:100,levl:2},
            {name:"a撒擦按时薪",age:21,score:10,levl:2},
            ]
        },
        mounted(){
            //需求按照leval字段升序排序
            this.persons.sort((n1,n2)=>{// n1.leval-n2.levl升序 n2.leval-n1.leval是降序
                //这个方法会改变原数组 既执行完后this.persons已经排好序 视图已发生改变
                n1.levl-n2.levl
            })
        }
    })
</script>
</html>