/* 顶部导航区域开始*/
.top{
	height: 40px;
	background-color: #f0f2f5;
	border-bottom: 1px #c2c5cb solid;
}
.top-li{
	height: 40px;
	line-height: 40px;
	margin-right: 10px;

}
.top-left li a{
	color: #3c4972;
}
.link:hover{
	color: #e34f48;
}
.dropdown-li{
	position: relative;
}
.dropdown-li:hover a{
background-color: #fff;
}

.dropdown-layer{
	position: absolute;
	top: 40px;
	left: 0px;	
	border: 1px solid #f0f2f5;
	border-top: none;
	display: none;
}
.dropdown-layer li{
	height: 30px;
	line-height: 30px;
	background-color: #fff;
	padding: 0px 5px;
	white-space: nowrap;
}
.top-right li a{
	color: #3c4972;
}
.dropdown-a{
	display: block;
	height: 40px;
	line-height: 40px;
	padding: 0px 5px;
}
.menu-active i{
	transform: rotateZ(180deg);
}
.menu-active .dropdown-layer{
	display: block;
}
.menu-active a{
background-color: #fff;
}
 /*顶部导航区域结束*/

 /*头部搜索区域开始*/
 .header{
 	height: 126px;
 	background-color: red;
 }
/* 头部搜索区域结束*/

 /* 焦点区域开始*/
 .foucs{
 	height: 568px;
 	background-color: green;
 }
 /*焦点区域结束*/

 /* 今日热销区域开始*/
 .todays{
 	height: 200px;
 	background-color: blue;
 }
 /*今日热销区域结束*/

 /* 楼层区域开始*/
 .floor{
 	height: 200px;
 	background-color: skyblue;
 }
/* 楼层区域结束*/